@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 228 61% 100%;
    --foreground: 228 60% 3%;
    --muted: 228 32% 85%;
    --muted-foreground: 228 15% 25%;
    --popover: 228 61% 100%;
    --popover-foreground: 228 60% 3%;
    --card: 228 61% 100%;
    --card-foreground: 228 60% 3%;
    --border: 228 2% 94%;
    --input: 228 2% 94%;
    --primary: 228 42% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 228 3% 87%;
    --secondary-foreground: 228 3% 27%;
    --accent: 228 11% 79%;
    --accent-foreground: 228 11% 19%;
    --destructive: 5 98% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 228 42% 43%;
    --chart-1: 228 42% 43%;
    --chart-2: 228 3% 87%;
    --chart-3: 228 11% 79%;
    --chart-4: 228 3% 90%;
    --chart-5: 228 45% 43%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 228 44.76% 5.85%;
    --foreground: 228 19% 98%;
    --muted: 228 32% 15%;
    --muted-foreground: 228 15% 75%;
    --popover: 228 67.03% 5.53%;
    --popover-foreground: 228 19% 98%;
    --card: 228 65.82% 5.57%;
    --card-foreground: 228 19% 98%;
    --border: 228 24.59% 17.9%;
    --input: 228 2% 15%;
    --primary: 228 42% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 228 7% 10%;
    --secondary-foreground: 228 7% 70%;
    --accent: 228 13% 18%;
    --accent-foreground: 228 13% 78%;
    --destructive: 5 98% 60%;
    --destructive-foreground: 0 0% 100%;
    --ring: 228 42% 43%;
    --chart-1: 228 42% 43%;
    --chart-2: 228 7% 10%;
    --chart-3: 228 13% 18%;
    --chart-4: 228 7% 13%;
    --chart-5: 228 45% 43%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
